<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <!-- 从 application.yml 读取应用名 -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="Gateway-service"/>
    <!-- 日志文件输出目录 -->
    <property name="LOG_PATH" value="F:/workspace/oauth2-demo (1)/logs"/>
    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--文件输出-->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- 根日志级别 -->
    <!--生产环境建议配置warn或更高级别-->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
