spring:
  application:
    name: Async-server

  neo4j:
    uri: bolt://localhost:7687
    authentication:
      username: neo4j
      password: 12345678

  rabbitmq:
    host: 154.219.109.125
    port: 5672
    username: guest
    password: guest
